body {
width: 1990px;
}
#table {
max-width: 1900px;
}
#table tr td {
width: 173px;
}
.field1{
max-width: 133px;
}
nav {
max-width: 1024px;
}
nav ul li {
width: 15%;
}
nav ul li input[type="submit"] {
display: block;
width: 90%;
//background-color: hsl(13, 99%, 50%);
border-radius: 0;
text-align: center;
font-weight: 900;
border-style: none;
}
